<main class="main">
    <div class="main__content">
        <div class="nav">
            <h1 class="title title--center">Створити</h1>
            <a href="/">
                 <img src="img/svg/home.svg" alt="home-button" height="54px" width="54px">
                </a>
        </div>
        <ul class="choose">
            <a href="/spotify-create">
                <li class="choose__item">
                    <img src="img/svg/play.svg" alt="" class="choose__image">
                    <div class="choose__content">
                        <strong class="title">Плейліст</strong>
                        <p class="choose__text">Створіть плейліст із піснями чи епізодами</p>
                    </div>
                </li>
            </a>
            <a href="/spotify-create?isMix=true">
                <li class="choose__item">
                    <img src="img/svg/mix.svg" alt="" class="choose__image">
                    <div class="choose__content">
                        <strong class="title">Мікс</strong>
                        <p class="choose__text">Комбінуйте смаки в спільному плейлісті з друзями</p>
                    </div>
                </li>
            </a>
        </ul>
    </div>
</main>