<div class="alert__block">
    <div class="alert__content">
        <h1 class="alert__title">{{info}}</h1>
        <p class="alert__info">{{info}}</p>
        <a href="/" class="alert__button">Повернутись назад</a>
    </div>
</div>