{{#with data}}
<div class="alert__block">
    <div class="alert__content">
        {{!-- <div class="alert__description"> --}}
            <h1 class="alert__message">{{message}}</h1>
            <p class="alert__info">{{info}}</p>
        {{!-- </div> --}}
       <a class="alert__button" href="{{link}}">Повернутись назад</a>
    </div>
</div>
{{/with}}