@use "../../lib/service.scss" as s;

.alert__block {
    background-color: s.color(light-background);
    box-shadow: 0px 3px 20px 0px s.color(dark-gray);
    border-radius: 4px;
    width: 50%;
    padding: s.space(8);

    .alert__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: s.space(8);

        .alert__message {
            font-weight: 700;
            font-size: 18px;
            color: s.color(dark-text);
        }

        .alert__info {
            font-size: 14px;
            grid-row: 2;
            color: s.color(dark-text);
        }

        .alert__button {
            display: grid;
            grid-row: 1/3;
            align-items: center;
            text-decoration: none;
            color: white;
            background-color: s.color(primary);
            text-align: center;
            border-radius: 4px;
        }

        .alert__button:hover {
            opacity: 0.7;
            transition-duration: 0.5s;
        }

        .alert__button:active {
            opacity: 0.5;
            transition-duration: 0.5s;
        }
    }
}