@use "../../lib/service.scss" as s;


.product__create {
    display: flex;
    flex-direction: column;
    gap: s.space(26);

    .product__title {
        color: s.color(primary);
        font-weight: 700;
        font-size: 32px;
    }
}

.form {
    &__content {
        display: flex;
        flex-direction: column;
        gap: s.space(12);
        padding: s.space(8);
        background-color: s.color(light-background);
        width: 50%;
        box-shadow: 0px 3px 20px 0px s.color(dark-gray);
        border-radius: 4px;
    }

    &__info {
        font-weight: 700;
        font-size: 18px;
    }

.form {
    display: flex;
    padding: s.space(4);
    flex-direction: column;
    gap: s.space(8);

    &__title {
        font-size: 20px;
        font-weight: bold;
        padding-bottom: s.space(1);
        border-bottom: 1px solid  s.color("light");
    }

    // &__content {
    //     display: grid;
    //     gap: s.space(6);
    //     width: 50%;
    //     margin: 0 auto;
    // }

    // &__field {
    //     display: flex;
    //     flex-direction: column;
    //     gap: s.space(2);
    //     // color: e6e6ea;

    // }

    &__label {
        font-size: 14px;
    }


    &__tech {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: s.space(8);

    .form__field--name {
        display: grid;
        grid-column: 1/3;
        gap: s.space(2);
    }

    .form__field--price {
        display: grid;
        grid-column: 3/5;
        gap: s.space(2);
    }

    input {
        height: 35px;
    }
    }

    &__field--description {
        display: grid;
        gap: s.space(2);
        
        .form__input {
            height: 55px;
        }

        .form__additional-info {
            color: s.color(dark-gray);
            font-size: 10px;
        }
    }

    input {
        border: 1px solid s.color(dark-gray);
        border-radius: 4px;
        caret-color: s.color(primary);
        padding-left: s.space(2);
    }

    &__button {
        background-color: s.color(primary);
        border-radius: 4px;
        padding: s.space(4);
        color: white;
    }

    &__input {
        border: 3px solid s.color("light");
        padding: s.space(2);
        caret-color: #2ab7ca;
        border-color: #e6e6ea;
    }
}

main {
    display: flex;
    flex-direction: column;

    gap: s.space(26);
}

.product__list {
    display: flex;
    flex-direction: column;
    gap: s.space(26);
}
    .product__title {
        color: s.color(primary);
        font-weight: 700;
        font-size: 32px;

    gap: s.space(10);
    }
}