@use "../../lib/service.scss" as s;

.heading {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.heading__title {
    font-size: 40px;
    color: s.color(main);
    font-weight: 400;
}

.heading__info {
    font-size: 16px;
    color: #000;
}