@use "../../lib/service.scss" as s;

.field {
    display: flex;
    flex-direction: column;
    gap: s.space(2);
    width: 100%;    
}

.field__label {
    font-size: 14px;
}

.field__input {
    border: 1px solid s.color(border);
    padding: s.space(4);
    border-radius: 10px;
}

.field--disabled {
    position: absolute;
    display: none;
}