@use '../../lib/service.scss' as s;

@use '../../lib/spotify.scss' as spotify;

.search {
    background-color: #292929;
    padding: s.space(4) s.space(8);
    border-radius: 16px;

    display: grid;
    grid-template-columns: 56px 1fr auto;

    gap: s.space(16);

    color: s.color(light);

    font-size: 24px;

    &__button {
        color: s.color(light);

        transition: opacity 0.6s;

        &:hover {
            opacity: 0.6s;
        }
    }
}

.playlist{
   display: flex;
    flex-direction: row;
}

.playlist__name {
    font-size: 24px;
}

.playlist__amount {
    color: #BDBDBD;
    font-size: 16px;
}


